.button {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-padding: 0;
    -fx-border-width: 0;
}

/* Start (New Game) Button */
.start-btn {
    -fx-background-image: url("/Source/Assets/Buttons/Start_0.png");
    -fx-background-size: cover;
}
.start-btn:hover {
    -fx-background-image: url("/Source/Assets/Buttons/Start_1.png");
}

/* Exit Button */
.exit-btn {
    -fx-background-image: url("/Source/Assets/Buttons/Start_0.png");
    -fx-background-size: cover;
}
.exit-btn:hover {
    -fx-background-image: url("/Source/Assets/Buttons/Start_1.png");
}