/* Make root black */
#rootPane {
    -fx-background-color: black;
}

/* Hide button borders */
.button {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-padding: 0;
    -fx-border-width: 0;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

/* Main menu buttons */
#startButton {
    -fx-background-image: url("Assets/Buttons/Start_0.png");
    -fx-background-size: cover;
}
#startButton:hover {
    -fx-background-image: url("Assets/Buttons/Start_1.png");
}

#quitButton {
    -fx-background-image: url("Assets/Buttons/Start_0.png");
    -fx-background-size: cover;
}
#quitButton:hover {
    -fx-background-image: url("Assets/Buttons/Start_1.png");
}

/* Pause menu background */
#pauseMenu {
    -fx-background-image: url("Assets/PauseBackground.png");
    -fx-background-size: cover;
}

/* Pause menu buttons */
#continueButton {
    -fx-background-image: url("Assets/Buttons/Start_0.png");
    -fx-background-size: cover;
}
#continueButton:hover {
    -fx-background-image: url("Assets/Buttons/Start_1.png");
}

#backToMenuButton {
    -fx-background-image: url("Assets/Buttons/Start_0.png");
    -fx-background-size: cover;
}
#backToMenuButton:hover {
    -fx-background-image: url("Assets/Buttons/Start_1.png");
}

/* Dark overlay while paused */
#overlay {
    -fx-fill: black;
    -fx-opacity: 0.5;
}
